# SpaceX SQL Analysis
By Elias Akata

In [ ]:
import pandas as pd
import sqlite3

# Load dataset (replace with actual file path if not in the same directory)
df = pd.read_csv('spacex_launch_data.csv')

# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')
df.to_sql('SPACEXTBL', conn, index=False, if_exists='replace')

## Query 1: Retrieve up to 20 records

In [ ]:
pd.read_sql('SELECT * FROM SPACEXTBL LIMIT 20', conn)

## Query 2: Minimum Payload Mass

In [ ]:
pd.read_sql('SELECT min(PayloadMass) FROM SPACEXTBL', conn)

## Query 3: Total Payload Mass with Alias

In [ ]:
pd.read_sql('SELECT sum(PayloadMass) AS Total_Payload_Mass FROM SPACEXTBL', conn)

## Query 4: Mission Outcome Counts by Launch Site

In [ ]:
pd.read_sql('SELECT LaunchSite, count(Class) AS Mission_Outcome_Count FROM SPACEXTBL GROUP BY LaunchSite', conn)

## Query 5: Unique Launch Sites

In [ ]:
pd.read_sql('SELECT DISTINCT LaunchSite FROM SPACEXTBL', conn)